/* Standings head class. */
#nba_standings_head {
	font-size: 0.8em;
	font-weight: bold;
}

/* Standings body class. */
#nba_standings_body table {
	width: 100%;
	padding: 2px;
	border-collapse: collapse;	
	border-spacing: 0px;
	border: 0;
	font-size: 0.9em;
}
#nba_standings_body th {
	background-color: white;
	color: #000D86;
	padding: 2px;
	font-weight: bold;
	border: 0;
}
#nba_standings_body td {
	padding: 2px;
	border: 0;
}
.nbateam {
	font-weight:bold;
}
.nbadate{
	font-size:75%;
}